body{
	display:flex;	
	justify-content:center;
	align-items:center;
	font-family: 'Lato', sans-serif;
	background-color:#F5F5Fd;
}
#main{
	width:800px;
	height:500px;
	display:grid;
	grid-template:1fr 5fr / 1fr;
}
#main > div{
	background-color:lavender;
	font-size:23px;
	padding:20px;
	border:5px solid #301934;
	color:#301934;
	border-radius:10px;
	margin:10px;
	text-align:center;
}

form{
	display:grid;
	grid-template:1fr / 1fr 1fr 1fr 1fr 1fr;
	grid-gap:10px;
	padding:10px;
}
input{
	background-color:lavender;
	color:#301934;
	border:3px groove green;
	border-radius:10px;
	font-size:18px;
}
input:hover{
	background-color:#D6D6EA;
	font-weight:bold;
	font-size:20px;
	cursor:pointer;
}
input:active{
	background-color:black;
	color:green;
}
img{
	height:270px;
	border-radius: 10%;
}
